@model MillenniumWebFixed.ViewModels.ManualQuoteViewModel

<div class="mb-2">
    @Html.LabelFor(m => m.ShipToStreet1, new { @class = "form-label small" })
    @Html.TextBoxFor(m => m.ShipToStreet1, new { @class = "form-control form-control-sm required-field" })
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.ShipToStreet2, new { @class = "form-label small" })
    @Html.TextBoxFor(m => m.ShipToStreet2, new { @class = "form-control form-control-sm required-field" })
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.ShipToStreet3, new { @class = "form-label small" })
    @Html.TextBoxFor(m => m.ShipToStreet3, new { @class = "form-control form-control-sm required-field" })
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.ShipToCity, new { @class = "form-label small" })
    @Html.TextBoxFor(m => m.ShipToCity, new { @class = "form-control form-control-sm required-field" })
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.ShipToState, new { @class = "form-label small" })
    @Html.TextBoxFor(m => m.ShipToState, new { @class = "form-control form-control-sm required-field" })
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.ShipToPostalCode, new { @class = "form-label small" })
    @Html.TextBoxFor(m => m.ShipToPostalCode, new { @class = "form-control form-control-sm required-field" })
</div>
<div class="mb-2">
    @Html.LabelFor(m => m.ShipToCountry, new { @class = "form-label small" })
    @Html.TextBoxFor(m => m.ShipToCountry, new { @class = "form-control form-control-sm required-field" })
</div>
